.container{
  background-color: var(--card-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

form{
  display: flex;
  flex-direction: column;
}
table {
  width: 100%;
  max-width: 800px;
  table-layout: fixed;
  background-color: var(--card-dark);
  color: var(--text-dark);
}

th.mat-header-cell {
  color: var(--text-dark);
}

td.mat-cell {
  color: var(--text-dark);
  white-space: nowrap;
  max-width: 150px;
  overflow-x: auto;
  display: block;
}

.mat-form-field {
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

input[type="file"] {
  color: var(--text-dark);
  width: 100%;
}

::ng-deep .mat-form-field-label {
  color: white !important;
}

::ng-deep .mat-input-element {
  color: white !important;
}


.mat-form-field, .mat-raised-button {
  color: var(--text-dark);
}
